[Unit]
Description=A scrollable-tiling Wayland compositor
BindsTo=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target

[Service]
Type=notify
ExecStart=/usr/bin/niri
