name: Prepare release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Public version'
        required: true

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

env:
  RUN_SLOW_TESTS: 1

jobs:
  prepare-release:
    runs-on: ubuntu-24.04

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          show-progress: false

      - name: Check for unreplaced "Since:" in the wiki
        run: |
          if grep --recursive 'Since: next release' wiki; then
            exit 1
          fi

      - name: Install dependencies
        run: |
          sudo apt update -y
          sudo apt install -y curl gcc clang libudev-dev libgbm-dev libxkbcommon-dev libegl1-mesa-dev libwayland-dev libinput-dev libdbus-1-dev libsystemd-dev libseat-dev libpipewire-0.3-dev libpango1.0-dev libdisplay-info-dev libadwaita-1-dev

      - uses: dtolnay/rust-toolchain@6d9817901c499d6b02debbb57edb38d33daa680b # stable

      - name: Create vendored dependencies archive
        run: |
          mkdir .cargo
          cargo vendor --locked > .cargo/config.toml
          tar cJf niri-${{ github.event.inputs.version }}-vendored-dependencies.tar.xz vendor/

      - name: Build
        run: cargo build --all --frozen --release

      - name: Build tests
        run: cargo test --no-run --all --frozen --release

      - name: Test
        run: cargo test --all --frozen --release -- --nocapture

      - name: Draft release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          draft: true
          tag_name: v${{ github.event.inputs.version }}
          files: niri-${{ github.event.inputs.version }}-vendored-dependencies.tar.xz
          fail_on_unmatched_files: true
